body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9fdef2;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.message h1 {
    font-size: 2rem;
    color: #fff;
    margin: 0;
    animation: fadeIn 2s ease-in-out;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: coral;
    margin-top: -100px;
}

.message p {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 10px;
    animation: fadeIn 2s ease-in-out 1s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: coral;
}

.balloons {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 20px;
}

.balloon {
    width: 40px;
    height: 60px;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    bottom: -100px;
    animation: floatUp 6s ease-in-out infinite;
    visibility: hidden;
}

/* .balloon:nth-child(2) {
    left: 20%;
    animation-delay: 1.5s;
}

.balloon:nth-child(3) {
    left: 70%;
    animation-delay: 3s;
}

.balloon:nth-child(4) {
    left: 90%;
    animation-delay: 5s;
} */

.image {
    box-shadow: 5px 5px 5px 5px rgb(26, 26, 27);
    width: 300px;
    border: transparent 0px;
    /* border-radius: 25px; */
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: -30px;
}

.image-con {
    position: absolute;
    margin-top: 15%;
}

.mySlides {
    display: none;
    width: 300px;
}

/* starts animation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9fdef2;
    min-height: 100vh;
    overflow: hidden;
}

.star {
    position: absolute;
    top: -20px;
    color: #f6ff00;
    animation: animate 5s linear forwards;
    /* you can set infinite too */
}

.star::before {
    content: "\f005";
    font-family: FontAwesome;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 50px #fff;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .star {
        font-size: 8px;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-120vh);
    }
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    .message h1 {
        font-size: 1.5rem;
        margin-top: -150px;
    }

    .message p {
        font-size: 1rem;
    }

    .balloon {
        width: 30px;
        height: 45px;
    }

    .image {
        box-shadow: 5px 5px 5px 5px rgb(33, 33, 33);
        width: 250px;
    }

    .image-con {
        position: absolute;
        margin-top: 20%;
    }

    .audio {
        width: 250px;

    }
}